<app-header />

<main>
    <div class="container">
        <h1>What we do</h1>
        <p>We have full-stack capability which has been snapped up by many of the marketing teams to develop everything from websites to marketing portals.</p>
        <p>And collaboration is key for us. We love working with external agencies and freelancers to gain the “fresh eyes” needed for updating brands and producing content that’s on-trend while using the latest developments in technology.</p>
        <p>We can then deliver cost-saving implementation further down the line, which brings your collateral in-house where it can be managed and accessed quickly and effectively.</p>
        <ul>
            <li>Web media</li>
            <li>Print media</li>
            <li>Video</li>
            <li>Photo</li>
            <li>Interior design</li>
        </ul>
    </div>
</main>