<app-header />

<main>
    <div class="container">
        <h1>Who we are</h1>
        <p>The DESIGN TEAM was established in 2004 with the ambition of creating an "in-house agency” approach to the design needs of the various companies within Clunetech.</p>
        <p>We strive to deliver top quality design-thinking, and we enjoy the huge variety of work that we are involved in day-to-day, whether it’s a video for internal distribution or 3d visualisations of our new offices and creative spaces.</p>            
        <p>We are a close-knit bunch of creatives who love what we do. We aim for original, unexpected, eclectic, rebellious and sophisticated outcomes - always on the edge of commercial reality and cultural interest. Because the ultimate goal is happy clients.</p>
        <p>Get in touch. Let’s discuss how we can help with your upcoming projects.</p>
        <p>We can Make. It. Look. Cool.</p>
        <ul>
            <li>Elena Stefanova</li>
            <li>Lalka Staykovska</li>
            <li>Kristina Georgieva</li>
            <li>Zornitsa Bangieva</li>
            <li>Georgi Panev</li>
            <li>Monika Tosheva</li>
            <li>Yoana Grigorova</li>
            <li>Ivaylo Stankov</li>
            <li>Johnny Caldwell</li>
        </ul>
    </div>
</main>